/* Import Font */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

.contact {
    background-color: #2a2929;
    height: 100vh;
}

.contact-text {
    margin-top: 25%;
}

.contact-text a {
    color: #f4f4f4;
}


/* Button Global */

button {
    margin-top: 5px;
    border-radius: 30px;
    height: 30px;
    width: 80px;
    cursor: pointer;
    background: #212121;
}

button a {
    font-family: "Poppins", sans-serif;
    color: #f4f4f4;
    text-transform: uppercase;
    text-decoration: none;
}